[Unit]
Description=dxstrat API
After=network.target

[Service]
WorkingDirectory=/opt/darwinx/dxstrat/api
ExecStart=/opt/darwinx/dxstrat/api/run.sh
Restart=always
RestartSec=2
User=root
Environment=DXSTRAT_DB=/opt/darwinx/dxstrat/engine/x4pool/pool.db
Environment=POOL_FEE_BP=200
Environment=POOL_NAME=Darwin X
Environment=POOL_DOMAIN=pool.dxstrat.com

[Install]
WantedBy=multi-user.target
